<h3>More</h3>
<center>
  
  <h4>Todo #<%= params[:id] %></h4>
  
        <h1>Subject: <%=@todo_subject%></h1>
        <li>Assignment: <%=@todo_description%></li>
        <li>Due date: <%=@todo_due_date%></li>
        <li>Duration: <%=@todo_time_estimate_min=%></li>
        <li><input type= "checkbox">Complete</li>
        
      
  <a href="index.html">Edit</a>
  <a href="index.html">Back</a>
  <a href="index.html">Delete</a>
  
      </center>
