<center>
  <h1>MORE</h1>
       <input type="checkbox">Assignments
        <input type="checkbox">Description
        <input type="checkbox">Subject
        <input type="checkbox">Due Date
        
        <li><%=@todo_description%></li>
        <li><%=@todo_subject%></li>
        <li><%=@todo_time_estimate_min=%></li>
        <li><%=@todo_is_complete%></li>
        <li><%=@todo_due_date%></li>
      
      </center>
